{% extends "base.html" %}
{% load bootstrap i18n %}

{% block title %}{% trans "Reset password" %}{% endblock %}
{% block pagetitle %}{% trans "Reset your password" %}{% endblock %}

{% block content %}
<p>{% trans "Please give your username to receive an email with a confirmation key." %}</p>

{% if form.is_valid %}
<div class="alert alert-info">
    {% blocktrans %}Your password has been reset and an email was sent to your address.
    Please follow the link there to reset the password.{% endblocktrans %}
</div>
{% endif %}

<form class="form-horizontal" role="form" action="{% url "account_reset_password" %}" method="post">{% csrf_token %}
{{ form|bootstrap }}
</form>
{% endblock %}
